# Dependencias
node_modules/
*/node_modules/

# Compilaciones
client/dist/
dist/
build/

# Variables de entorno
.env
.env.local
.env.*.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# Editor / Sistema
.DS_Store
Thumbs.db
.vscode/
.idea/
